/*Standardabstände entfernen & Schrift für alle Elemente setzen*/
* {
  margin: 0; /*Abstände um Elemente entfernen*/
  padding: 0; /*Innenabstände in den Elementen entfernen*/
  box-sizing: border-box; /*Breite & Höhe eines Elements berücksichtigt auch die Border- & Padding-Werte*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; /*Schriftart für gesamte Dokument*/
}

/*Layout für Body (Seite)*/
body {
  background-image: url("/FallingNUm.gif"); /*Hintergrundbild für Body*/
  display: flex; /*flexibler Layout, um die Elemente im Container zu zentrieren*/
  align-items: center; /*Elemente vertikal zentrieren*/
  justify-content: center; /*Elemente horizontal zentrieren*/
  height: 100vh; /*die Seite füllt den ganzen Bildschirm*/
  color: white; /*weisser Text*/
}



.container{
  width: 95vw; /*der Container ist 80% der Bildschirmbreite*/
  height: 95vh; /*der Container ist 90% der Bildschirmhöhe*/
  background-color: rgba(36, 36, 148, 0.377); /*halbtransparente Hintergrundfarbe*/
  backdrop-filter: blur(19px) saturate(180%); /* unscharfer & bunter Hintergrund */
  border-radius: 12px; /*Ecken abrunden*/
  border: 1px solid rgba(155, 155, 155, 0.115); /*dünne, durchsichtige Grenze einfügen*/
  display: flex; /*flexibler Container*/
}
