/*Standardabstände entfernen & Schrift für alle Elemente setzen*/
* {
  margin: 0; /*Abstände um Elemente entfernen*/
  padding: 0; /*Innenabstände in den Elementen entfernen*/
  box-sizing: border-box; /*Breite & Höhe eines Elements berücksichtigt auch die Border- & Padding-Werte*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; /*Schriftart für gesamte Dokument*/
}

/*Layout für Body (Seite)*/
body {
  background-image: url("/FallingNUm.gif"); /*Hintergrundbild für Body*/
  display: flex; /*flexibler Layout, um die Elemente im Container zu zentrieren*/
  align-items: flex-start; /*Elemente vertikal zentrieren*/
  justify-content: center; /*Elemente horizontal zentrieren*/
  height: 90vh; /*die Seite füllt den ganzen Bildschirm*/
  color: white; /*weisser Text*/
  overflow: hidden;
}


.container {
  width: 90vw; /* Der Container ist 95% der Bildschirmbreite */
  height: 90vh; /* Der Container ist 95% der Bildschirmhöhe */
  background-color: rgba(23, 23, 89, 0.377);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(155, 155, 155, 0.115);
  display: flex;
  margin-top: 5vh; /* Abstand oben */
  margin-bottom: 5vh; /* Abstand unten hinzufügen */
}
